.vs

Ogre2/imgui.ini
.cache
build
Ogre2/Release
Ogre2/stdafx.pch
*.dll
*.pdb
*.lib
*.swp
*.exe
x64/Release/imgui.ini
*.rendercaps
*.world
*.page
*.log
*.lodconfig
x64/Media/materials/programs
x64/Media/materials/textures
x64/Media/CSMShadows
x64/Media/DeferredShadingMedia
x64/Media/Main
x64/Media/models
x64/Media/packs
x64/Media/PBR
x64/Media/PCZAppMedia
x64/Media/RTShaderLib
x64/Media/Terrain
x64/Media/thumbnails
x64/Media/volumeTerrain
Ogre2/x64
.cache
